node_modules/
dist/
.vitepress/cache
.vitepress/dist

templates/node_modules/
templates/dist/
templates/packages/openid-provider/node_modules/
templates/packages/openid-provider/dist/
templates/packages/openid-provider/.nuxt/
templates/packages/openid-provider/.output/
templates/packages/relying-party/node_modules/
templates/packages/relying-party/dist/
templates/packages/relying-party/.nuxt/
templates/packages/relying-party/.output/
templates/packages/*/node_modules/
templates/packages/*/dist/
